.searchModule{
  margin-top : 30px;
  text-align : center;
  padding-bottom : 30px;
}
.searchModule>p{
  margin-top : 20px;
  margin-bottom : 30px;
}
.searchModule>form{
  display:flex;
  flex-direction : column;
}
.formDivision{
  display : flex;
  justify-content : space-around;
  width : 70%;
  margin : auto;
}
.sellerID{
  width : 20vw;
}

.searchModule button{
  margin-top : 20px;
  width : 12%;
  margin-bottom: 30px;
}
.sellerSearchResults{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width:765px){
  .searchModule button{
    width: 20%;
  }
}
@media (max-width:600px){
  .formDivision{
    flex-direction: column;
  }
  .formDivision input{
    margin-top: 20px;
    width: 70%;
  }
}